# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.text.tex.latex':
  'centered':
    'prefix': 'center'
    'body': """
      \begin{center}
        $1
      \end{center}"""
'.source.scala':
    'new actor':
      'prefix': 'actor'
      'body': """
        import akka.actor.{Actor, ActorRef, ActorLogging}
        class $1 extends Actor with ActorLogging {
          def receive:Receive = {
            case _ => log.error("not implemented yet")
          }
        }
        """
